<div class="user-card">
  <div class="profile-pic">
    <img src="<%= user.photo %>" alt="<%= user.name %>">
  </div>
  <div class="info">
    <%= link_to(user_path(id: user.id)) do %>
      <h2><%= user.name %></h2>
    <% end %>
    <span>
      Number of posts: <%= user.post_counter %>
    </span>
  </div>
</div>