<section class="page-container">
<div class="post-header">
  <h4>
    <%= @post.title %> by <%= @post.author.name %>
  </h4>
  <div class="post-info">
    <span>
      Comments: <%= @post.comments_counter%>
      Likes: <%= @post.likes_counter %>
    </span>
  </div>
</div>
<div class="post-options">
    <%= button_to("Delete post", user_post_path(user_id: @current_user.id, id: @post.id), method: :delete) %>
</div>
<p class="post-text">
  <%= @post.text %>
</p>
<div class="post-buttons">
  <%= render "shared/like_button", post: @post, user: @current_user %>
</div>
<span class="post-inner-title inner-title">Comments</span>
<ul class="comments-list">
  <% @post.comments.includes(:author).each do |comment| %>
  <li>
    <h4>
      <%= link_to(user_path(id: comment.author.id)) do %>
      <%= comment.author.name %>
      <% end%>
    </h4>
    <p>
      <%= comment.text %>
    </p>
  </li>
  <% end %>
</ul>
<%= render "shared/comment_form", current_user: @current_user, post_id: @post.id, comment: @post.comments.build %>
</section>